<div class="container max-w-6xl px-2 mx-auto pt-7">
  <h1 class="text-4xl text-center mb-4">
    <span class="text-purple-600">Puss</span>earch
  </h1>

  <app-search-form
      [form]="form"
      [breedList]="breedList$ | async"
      [breedListLoaded]="breedListLoaded$ | async"
      (selectChange)="onSelectChange()"
  ></app-search-form>
</div>

<app-pictures-list
    [list]="catList$ | async"
    *ngIf="catListLoaded$ | async; else loading"
></app-pictures-list>

<ng-template #loading>
  <div role="status" class="w-full h-full flex items-center justify-center">
    <mat-spinner [diameter]="20" class="me-2"></mat-spinner>
    Loading...
  </div>
</ng-template>
