<form class="flex justify-center" [formGroup]="form">
  <mat-form-field class="mr-2">
    <mat-label>
      <ng-container *ngIf="breedListLoaded; else loadingBreed">
        Breed
      </ng-container>
    </mat-label>
    <mat-select formControlName="breed" multiple (selectionChange)="onSelectChange()" [disabled]="!breedListLoaded">
      <mat-option *ngFor="let item of breedList" [value]="item.id">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Per Page</mat-label>
    <mat-select formControlName="limit" (selectionChange)="onSelectChange()">
      <mat-option *ngFor="let item of limitValues" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<ng-template #loadingBreed>
  <div class="flex justify-center">
    <mat-spinner [diameter]="20" class="me-2"></mat-spinner>
    Breed
  </div>
</ng-template>
